.edit,.sendLetter{
    width: 100%;
}
.sendLetter>.el-button{
    margin:5px;
}
.addressor.el-input.el-input--suffix,.subject.el-input{
    width: 80%;
}
.input1,.input2{
    margin:10px;
}
.edit-content{ 
    margin:10px;
}
/* 将span与textarea顶部对齐*/
.edit-content>span{
    vertical-align: top;
}
/* 定义textarea的样式定义宽度和高度 */
.edit-content>textarea{
    height: 500px;
    width: 80%;
}
/* 修改router-link的样式 */
.el-menu-item a{
    text-decoration:none;
}
/* 修改router-link的点击时的样式 */
.router-link-active {
    text-decoration: none;
    color: black;
}
