.el-header{
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}
.el-avator.el-avator--icon.el-avator--circle.el-avaror-span{
    margin:10px;
    overflow: visible;
}
.iconspan>.el-avatar-span{
    overflow: visible;
}
.el-aside.index-aside{
    background-color: #fff;
    color: #333;
    text-align: center;
  }
.el-col.el-col-12{
    width: 100%;
}
.el-menu-vertical-demo.el-menu.item-url,.el-menu{
    width: 200px;
}
ul.el-menu {
    border-right: 0px;
}
.el-main.index-main{
    background:aliceblue;
    width: 100%;
    padding:0px;
}
a{
    text-decoration: none;
    color:#000;
}
.el-menu-item.router-link-active{
    text-decoration: none;
    color: #000;
}